{% extends 'TransEditBundle::trans_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="/bundles/transedit/css/translation-key-values-block.css" rel="stylesheet">

    <style>
        .needleBlock {
            margin-bottom: 20px;
        }

        .needleBlock span{
            font-size: medium;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="/bundles/transedit/js/onlineTranslationModule.js"></script>

    <script
        id="keyValuesGroupFunctionality"
        src="/bundles/transedit/js/keyValuesGroupFunctionality.js"
        newKeyUrl = "{{ path('trans_edit_new_key') }}"
        saveKeyDataByAjaxUrl = "{{ path('trans_edit_save_key_data_by_ajax') }}">
    </script>
{% endblock %}

{% block pageHeader %}
    Found keys
{% endblock %}

{% block content %}
    {% if needle != '' %}
        <div class="row">
            <div class="col-md-12 needleBlock">
                <span>Result for "{{ needle }}":</span>
            </div>
        </div>
    {% endif %}

    {% if foundKeys|length == 0 %}
        <div class="row">
            <div class="col-md-6">
                <div class="alert alert-danger">
                    Keys not found!
                </div>
            </div>
        </div>
    {% else %}
        {% for key, trans in foundKeys %}
            <div class="row">
                <div class="col-md-1">
                    <button type="button" class="btn btn-default btn-xs edit-key"
                            key="{{ key }}">Edit
                    </button>
                </div>
                <div class="col-md-11">
                    <div class="spoiler-wrapper">
                        <div class="spoiler folded">
                            <a href="javascript:void(0);"><span class="key">{{ key }}</span></a>
                        </div>
                        <div class="spoiler-text">
                            {% include 'TransEditBundle:Default:show_locale_translation_list.html.twig' with {'translations': trans, 'transKey': key} %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block footer %}
{% endblock %}
