{% extends 'TransEditBundle::trans_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="/bundles/transedit/css/translation-key-values-block.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="/bundles/transedit/js/onlineTranslationModule.js"></script>

    <script
            id="keyValuesGroupFunctionality"
            src="/bundles/transedit/js/keyValuesGroupFunctionality.js"
            newKeyUrl = "{{ path('trans_edit_new_key') }}"
            saveKeyDataByAjaxUrl = "{{ path('trans_edit_save_key_data_by_ajax') }}">
    </script>
{% endblock %}

{% block pageHeader %}
    All keys by groups
{% endblock %}
{% block content %}

    {% for group in groupsKeysData %}
        {% if group.items|length > 1 %}
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-11">
                    <div class="spoiler-wrapper">
                        <div class="spoiler folded">
                            <a href="javascript:void(0);">
                                <span class="key {% if group.error %}error{% endif %}">{{ group.common }}</span>
                            </a>
                            <span class="quantity">({{ group.items|length }})</span>
                        </div>
                        <div class="spoiler-text" style="width: 100%">
                            {% for item in group.items %}
                                <div class="row">
                                    <div class="col-md-1">
                                        <button type="button" class="btn btn-default btn-xs edit-key"
                                                key="{{ item.key }}">Edit
                                        </button>
                                    </div>
                                    <div class="col-md-11">
                                        <div class="spoiler-wrapper">
                                            <div class="spoiler folded">
                                                <a href="javascript:void(0);">
                                                    <span class="key {% if item.error %}error{% endif %}">{{ item.key }}</span>
                                                </a>
                                            </div>
                                            <div class="spoiler-text">
                                                {% include 'TransEditBundle:Default:show_locale_translation_list.html.twig' with {'translations': item.trans, 'transKey': item.key} %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% elseif group.items|length == 1 %}
            <div class="row">
                <div class="col-md-1">
                    <button type="button" class="btn btn-default btn-xs edit-key"
                            key="{{ group.items[0].key }}">Edit
                    </button>
                </div>
                <div class="col-md-11">
                    <div class="spoiler-wrapper">
                        <div class="spoiler folded">
                            <a href="javascript:void(0);"><span class="key">{{ group.items[0].key }}</span></a>
                        </div>
                        <div class="spoiler-text">
                            {% include 'TransEditBundle:Default:show_locale_translation_list.html.twig' with {'translations': group.items[0].trans, 'transKey': group.items[0].key} %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    {% endfor %}
{% endblock %}
