{% extends 'TransEditBundle::trans_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="/bundles/transedit/css/typeahead.css" rel="stylesheet">

    <style>
        .inputBlock {
            margin-top: 50px;
            margin-bottom: 10px;
            width: 100%; /* Or auto */
            padding: 0 10px; /* To give a bit of padding on the left and right */
            border: solid 1px #DDD !important;
        }

        .inputBlockTitle {
            border-bottom: none;
            padding: 0 10px 0 10px;
        }

        #operationStatus {
            margin-top: 50px;
            text-align: center;
        }

        .badge {
            font-size: xx-small;
        }
        .locale-controls {
            margin-left: 30px;
        }
        .locale-controls a {
            text-decoration: none;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="/bundles/transedit/js/onlineTranslationModule.js"></script>

    <script type="text/javascript">
        var transKeys = [];
        var originalKeyData = {};

        var substringMatcher = function (strs) {
            return function findMatches(q, cb) {
                var matches, substrRegex;

                matches = [];

                substrRegex = new RegExp(q, 'i');

                $.each(strs, function (i, str) {
                    if (substrRegex.test(str)) {
                        matches.push(str);
                    }
                });

                cb(matches);
            };
        };

        function keyProcessing() {
            var key = $("#keySearchField").val();
            var keyNeighborsElement = $("#keyNeighbors");

            var neighbors = getKeyNeighbors(key);
            var neighborsHtml = neighbors.join('</br>');

            $(keyNeighborsElement).html(neighborsHtml);
        }

        function getKeyNeighbors(key) {
            var keyParts = key.split('.');
            var neighbors = [];
            var searchedKey = '';
            do {
                searchedKey = keyParts.join('.');
                neighbors = transKeys.filter(function (transKey) {
                    return transKey.startsWith(searchedKey);
                });
                keyParts.pop();
            } while (neighbors.length == 0 && keyParts.length > 0);
            return neighbors;
        }

        function setMatcherData() {
            $('#keySearchField').typeahead({
                    hint: true,
                    highlight: true,
                    minLength: 1,
                },
                {
                    name: 'transKeys',
                    source: substringMatcher(transKeys)
                }).bind('typeahead:selected', function () {
                    keyProcessing();
                });
        }

        function tryToFillInputBlock() {
            var key = $("#keySearchField").val();
            if ($.inArray(key, transKeys) >= 0) {

                $.blockUI({
                    css: {
                        border: 'none',
                        padding: '15px',
                        backgroundColor: '#000',
                        '-webkit-border-radius': '10px',
                        '-moz-border-radius': '10px',
                        opacity: .5,
                        color: '#fff'
                    }
                });

                $.ajax({
                    url: "{{ path('trans_edit_find_key_data_by_ajax') }}",
                    cache: false,
                    type: "POST",
                    data: 'data=' + key,
                    success: function (result) {
                        if (result["status"] === true) {

                            var keyData = result['keyData'];

                            $(".inputLocaleValue").each(function () {
                                var locale = $(this).attr('locale');
                                if (keyData.hasOwnProperty(locale)) {
                                    $(this).val(keyData[locale]);
                                    originalKeyData[locale] = keyData[locale];
                                }
                            });
                        }
                        $.unblockUI();
                    },
                    error: function () {
                        $.unblockUI();
                    }
                });

            }
        }

        var successTranslationCallback = function (text, sourceLocale, destinationLocale) {
            $('.inputLocaleValue[locale="' + destinationLocale + '"]').val(text);
        };

        var errorTranslationCallback = function (text, lang) {
            console.log('Error translation:');
            console.log('Destination locale: ' + lang);
            console.log('Text: ' + text);
        };

        var translationsDone = function () {
            console.log("All translations are finished!");
        };

        $(document).ready(function () {
            $(".inputLocaleValue").each(function () {
                originalKeyData[$(this).attr('locale')] = $(this).val();
            });

            $.ajax({
                url: "{{ path('trans_edit_get_all_keys_by_ajax') }}",
                cache: false,
                type: "POST",
                success: function (data) {
                    transKeys = data;
                    setMatcherData();
                }
            });

            $("#keySearchField")
                    .bind('input paste', function () {
                        keyProcessing();
                    })
                    .focusin(function () {
                        $(".inputBlock").fadeTo("fast", 0.25);
                    })
                    .focusout(function () {
                        $(".inputBlock").fadeTo("fast", 1);
                        tryToFillInputBlock();
                    })
                    .focus();

            $("#sendKeyData").click(function () {
                var data = {};
                var key = $("#keySearchField").val();
                data["key"] = key;
                $(".inputLocaleValue").each(function () {
                    data[$(this).attr('locale')] = $(this).val();
                });

                $.ajax({
                    url: "{{ path('trans_edit_save_key_data_by_ajax') }}",
                    cache: false,
                    type: "POST",
                    data: 'data=' + JSON.stringify(data),
                    success: function (result) {
                        if (result["status"] === true) {
                            transKeys.push(key);
                            $("#operationStatus")
                                    .addClass("alert alert-success")
                                    .html("New data for translation key has been saved.")
                                    .show("fast");
                        } else {
                            $("#operationStatus")
                                    .addClass("alert alert-danger")
                                    .html("An error occurred during saving data.")
                                    .show("fast");
                        }

                        window.setTimeout(function () {
                            $("#operationStatus").hide("fast", function () {
                                $("#operationStatus").removeClass().html('');
                            })
                        }, 3000)
                    }
                });
            });

            $("#refreshKeyData").click(function () {
                $(".inputLocaleValue").each(function () {
                    var locale = $(this).attr('locale');
                    if (originalKeyData.hasOwnProperty(locale)) {
                        $(this).val(originalKeyData[locale]);
                    }
                });
            });

            $("#clearKeyData").click(function () {
                $(".inputLocaleValue").each(function () {
                    $(this).val('');
                });
            });

            $('.getTranslation').click(function () {
                var locale = $(this).attr('locale');
                var destination = $(this).attr('destination');
                var text = $('.inputLocaleValue[locale="'+locale+'"]').val();

                singleTranslation(text, destination, successTranslationCallback, errorTranslationCallback);
            });

            $('.giveTranslations').click(function () {
                var locale = $(this).attr('locale');
                var destination = $(this).attr('destination');
                var destinationLocales = destination.split(',');
                var text = $('.inputLocaleValue[locale="'+locale+'"]').val();

                multiTranslation(text, destinationLocales, successTranslationCallback, errorTranslationCallback, translationsDone);
            });

        });
    </script>

{% endblock %}

{% block pageHeader %}
    New \ Edit key
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">

            {% if key is not null %}
                <input id="keySearchField" value="{{ key }}" type="text" class="typeahead form-control"
                       placeholder="Search">
            {% else %}
                <input id="keySearchField" type="text" class="typeahead form-control" placeholder="Search">
            {% endif %}

            <fieldset class="inputBlock">
                <legend class="inputBlockTitle">Values</legend>
                {% for locale in localeKeys %}
                    <div class="form-group">
                        <label for="inputLocale{{ locale }}">
                            {{ locale | capitalize }}

                            {% set locales = [] %}
                            {% set localesString = '' %}
                            <span class="locale-controls">
                                {% for locale2 in localeKeys %}
                                    {% if locale2 != locale %}
                                        <a role="button" href="#" class="getTranslation" locale="{{ locale2 }}" destination="{{ locale }}">
                                            <span class="badge">{{ locale|capitalize }}&nbsp;&#129056&nbsp;{{ locale2|capitalize }}</span>
                                        </a>
                                        {% set locales = locales|merge([locale2]) %}
                                        {% set localesString = localesString ~ locale2|capitalize ~ ' ' %}
                                    {% endif %}
                                {% endfor %}
                            </span>
                            <span class="locale-controls">
                                <a role="button" href="#" class="giveTranslations" locale="{{ locale }}" destination="{{ locales|join(',') }}">
                                    <span class="badge">{{ locale|capitalize }}&nbsp;&#129058&nbsp;{{ localesString }}</span>
                                </a>
                            </span>

                        </label>
                        {% if keyData[locale] is defined %}
                            <input type="text" class="form-control inputLocaleValue" id="inputLocale{{ locale }}"
                                   value="{{ keyData[locale] }}"
                                   locale="{{ locale }}"
                                   placeholder="Enter value for {{ locale }}">
                        {% else %}
                            <input type="text" class="form-control inputLocaleValue" id="inputLocale{{ locale }}"
                                   locale="{{ locale }}"
                                   placeholder="Enter value for {{ locale }}">
                        {% endif %}
                    </div>
                {% endfor %}
            </fieldset>
            <div class="row">
                <div class="col-md-2">
                    <button id="sendKeyData" class="btn btn-default">Send</button>
                </div>
                <div class="col-md-10 text-right">
                    <button id="refreshKeyData" class="btn btn-default">Refresh</button>
                    <button id="clearKeyData" class="btn btn-default">Clear</button>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <p class="subsection">Similar keys</p>

            <div id="keyNeighbors">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="operationStatus"></div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
